/* fonts */

@font-face {
  font-family: Raleway-Variable;
  src: url(/assets/Fonts/Raleway-VariableFont_wght.ttf);
}

/* changes */

@font-face {
  font-family: Montserrat;
  src: url(/assets/Fonts/Montserrat-ExtraLight.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(/assets/Fonts/Poppins-Medium.ttf);
}

* {
  box-sizing: border-box;
  font-family: Poppins, Montserrat;
  padding: 0;
  margin: 0;
}

a {
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  width: 100%;
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0);
  z-index: 99;
  overflow-y: hidden;
}

.loading:after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  top: -30px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  border: 6px solid #0cbababb;
  border-top: 6px dotted #0cbaba57;
  border-bottom: 6px dotted #0cbaba4b;
  border-radius: 150%;
  animation: loading 2s infinite;
  overflow-y: hidden;
}

.loading:before {
  font-family: "Lobster", cursive;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
  content: "";
  position: absolute;
  top: 57%;
  text-align: center;
  right: 0;
  left: 0;
  margin: auto;
  overflow-y: hidden;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(360deg);
  }
}

.blinking-cursor {
  font-weight: 100;
  font-size: 90px;
  color: #2e3d48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {

  from,
  to {
    color: transparent;
  }

  50% {
    color: black;
  }
}

@-moz-keyframes blink {

  from,
  to {
    color: transparent;
  }

  50% {
    color: black;
  }
}

@-webkit-keyframes blink {

  from,
  to {
    color: transparent;
  }

  50% {
    color: black;
  }
}

@-ms-keyframes blink {

  from,
  to {
    color: transparent;
  }

  50% {
    color: black;
  }
}

@-o-keyframes blink {

  from,
  to {
    color: transparent;
  }

  50% {
    color: black;
  }
}

/* arrow down top block */
#section06 a {
  padding-top: 100px;
  z-index: 7;
}

/* arrow down top block */
#section06 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 34px;
  height: 34px;
  margin-left: -12px;
  border-left: 1px solid #ffffffbb;
  border-bottom: 1px solid #ffffffbb;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: rgb(255, 255, 255);
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}

.demo a:hover {
  opacity: 0.5;
}

/* keyframes for arrow down */
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.name-intro {
  width: 100%;
}

/* star effect */
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

@-moz-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

@-ms-keyframes move-clouds-back {
  from {
    background-position: 0;
  }

  to {
    background-position: 10000px 0;
  }
}

.stars,
.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: rgb(0, 0, 0) url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: 0;
  opacity: 1;
}

.twinkling {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  -moz-animation: move-twink-back 60s linear infinite;
  -ms-animation: move-twink-back 60s linear infinite;
  -o-animation: move-twink-back 70s linear infinite;
  -webkit-animation: move-twink-back 60s linear infinite;
  animation: move-twink-back 70s linear infinite;
}

/* overlay with stars */
.overlay {
  width: 100%;
  opacity: 0.4;
}

/* SOCIAL icons */
.social-menu ul {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
  display: flex;
}

.social-menu ul li {
  list-style: none;
  margin: 0 15px;
}

.social-menu ul li .fab {
  font-size: 30px;
  line-height: 60px;
  transition: 0.3s;
  color: #ffffffd7;
}

.social-menu ul li .fab:hover {
  color: #fff;
}

.social-menu ul li a {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: transparent;
  text-align: center;
  transition: 0.6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.social-menu ul li a:hover {
  transform: translate(0, -10%);
}

/* instagram hover */
.social-menu ul li:nth-child(5) a:hover {
  background: #f09433;
  background: -moz-linear-gradient(45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%);
  background: -webkit-linear-gradient(45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%);
  background: linear-gradient(45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.social-menu ul li:nth-child(3) a:hover {
  background: linear-gradient(to bottom left, transparent 49%, #fbbc05 50%) 0 25%/48% 40%,
    linear-gradient(to top left, transparent 49%, #fbbc05 50%) 0 75%/48% 40%,
    linear-gradient(-40deg, transparent 53%, #ea4335 54%),
    linear-gradient(45deg, transparent 46%, #4285f4 48%), #34a853;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

/* github hover */
.social-menu ul li:nth-child(2) a:hover {
  background-color: rgb(140, 47, 216);
}

/* linkedin hover */
.social-menu ul li:nth-child(1) a:hover {
  background-color: rgb(40, 103, 178);
}

/* facebook hover */
.social-menu ul li:nth-child(4) a:hover {
  background-color: rgb(59, 89, 152);
}

#social-two {
  position: absolute;
  top: 15%;
  left: 85%;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
  display: flex;
  transform: scale(0.6);
}

/* name and last name heading */
h1 {
  color: #000000;
  white-space: nowrap;
  opacity: 0.9;
  background-color: #0cbaba8f;

  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 5vw;
  display: block;
  margin: 0 auto;
  line-height: 1.071;
  width: 40%;
  margin-top: -220px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* front end text */
.intro-text {
  opacity: 0.9;
  font-family: "lora-regular", serif, sans-serif;
  font-size: 1.7vw;
  line-height: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #000000;
  background-color: #2f4353;
  background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
  width: 40%;
  display: block;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* overall page sizes */
.page {
  width: 100%;
  box-sizing: border-box;
  height: 110vh;
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* first page */
.one {
  z-index: 5;
  background: url(/assets/img/intro-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* second page */
.two {
  background: #282537;
  background-image: -webkit-radial-gradient(top,
      circle cover,
      #2c2c2e 0%,
      #000000 70%);
  background-image: -moz-radial-gradient(top,
      circle cover,
      #3c3b52 0%,
      #000000 80%);
  background-image: -o-radial-gradient(top,
      circle cover,
      #3c3b52 0%,
      #000000 90%);
  background-image: radial-gradient(top, circle cover, #3c3b52 0%, #000000 00%);
  z-index: 4;
  background-size: cover;
  background-position: 0% 70%;
  background-repeat: no-repeat;
}

/* main image on second page */
.profile-image {
  z-index: 9;
  display: block;
  margin: 0 auto;
  margin-top: 0px;
  max-height: 500px;
  opacity: 1;
  background-repeat: no-repeat;
  background-attachment: sticky;
  background-size: 0px;
  animation-name: floating;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  border: 1px solid rgb(0, 0, 0);
  height: 500px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* glitch effect for profile image */
.profile-image:after {
  content: "";
  display: block;
  width: 100%;
  height: 0%;
  position: absolute;
  top: 0px;
  left: 0;
  background: #1d1c1c52;
  z-index: 10;
}

.glitch {
  position: absolute;
  width: 150%;
  height: 100%;
  top: 0px;
  left: 0;
  background-image: url(/assets/img/[removal.ai]_tmp-61d354a4b6e2c.png);
  background-repeat: no-repeat;
  background-position: center;
}

/* float animation for profile picture */
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

/* about me text */
.about-me-text-one {
  display: block;
  width: 30%;
  height: 250px;
  font-size: 6vw;
  text-align: left;
  align-items: left;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin-top: 150px;
  margin-left: 10%;
  color: #0cbaba;
  transition: ease-in-out 0.2s;
  animation-name: floating;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* span extra */
.extra {
  color: #ffffff;
}

.about-me-text-two {
  display: block;
  width: 50%;
  height: 250px;
  font-size: 1.3vw;
  text-align: center;
  align-items: center;
  font-weight: thin;
  font-family: Raleway-Variable, sans-serif;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  margin-top: -100px;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
/* projects text */
.Projects-text {
  display: block;
  width: 30%;
  height: 250px;
  font-size: 6vw;
  text-align: left;
  align-items: left;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin-top: 0px;
  margin-left: 10%;
  color: #ffffff;
  transition: ease-in-out 0.2s;
  animation-name: floating;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
/* span extra */
.extra-projects {
  color: #0cbaba;
}
/* what i do block */
.fa-html5 {
  float: left;
  color: #0cbaba7c;
  width: 100%;
  margin-left: -500px;
}

.fa-css3 {
  margin-top: 200px;
  float: left;
  color: #0cbaba7c;
  width: 100%;
  margin-left: -500px;
}

.fa-js {
  margin-top: 0px;
  float: left;
  color: #0cbaba7c;
  width: 100%;
  margin-left: 500px;
}

.fa-laptop-code {
  margin-top: 100px;
  float: left;
  color: #0cbaba7c;
  width: 100%;
  margin-left: 500px;
}

.icon-text {
  font-size: 2vw;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: thin;
  font-weight: 100;
  width: 100%;
  margin-top: 15px;
}

/* page three */
.three {
  background: #282537;
  background-image: -webkit-radial-gradient(top,
      circle cover,
      #2c2c2e 0%,
      #000000 70%);
  background-image: -moz-radial-gradient(top,
      circle cover,
      #3c3b52 0%,
      #000000 80%);
  background-image: -o-radial-gradient(top,
      circle cover,
      #3c3b52 0%,
      #000000 90%);
  background-image: radial-gradient(top, circle cover, #3c3b52 0%, #000000 00%);
  z-index: 3;
  background-repeat: no-repeat;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 100%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.three a {
  color: #00ace6;
}

.four {
  background: #282537;
  background-image: -webkit-radial-gradient(top,
      circle cover,
      #2c2c2e 0%,
      #000000 70%);
  background-image: -moz-radial-gradient(top,
      circle cover,
      #3c3b52 0%,
      #000000 80%);
  background-image: -o-radial-gradient(top,
      circle cover,
      #3c3b52 0%,
      #000000 90%);
  background-image: radial-gradient(top, circle cover, #3c3b52 0%, #000000 00%);

  z-index: 2;
  background-size: cover;
  background-position: 0% 30%;
  background-repeat: no-repeat;
}

/* carousel */
.btn-primary {
  background-color: #000000 !important;
  border-color: #ffffff;
}

input[type="radio"] {
  display: none;
}

/* carousel cards */
.card {
  position: absolute;
  width: 80%;
  height: 400px;
  left: 0;
  right: 0;
  top: 0px;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
  overflow: hidden;
  -webkit-box-reflect: below 1px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  border-radius: 0px;
}

/* carousel main block */
.carousel {
  width: 100%;
  max-width: 800px;
  max-height: 500px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

/* carousel cards block */
.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

/* images in carousel */
img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: all 1s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.808) 0px 22px 70px 4px;
}

.images {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  border-radius: 10px;
  transform: scale(1);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  opacity: 0;
  filter: grayscale(1);
}

/* carousel img zoom effect */
.images:hover {
  transform: scale(1.3);
  border-radius: 10px;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  filter: grayscale(0);
  display: block;
}

#item-1:checked~.cards #work-4,
#item-2:checked~.cards #work-1,
#item-3:checked~.cards #work-2,
#item-4:checked~.cards #work-3 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked~.cards #work-2,
#item-2:checked~.cards #work-3,
#item-3:checked~.cards #work-4,
#item-4:checked~.cards #work-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked~.cards #work-1,
#item-2:checked~.cards #work-2,
#item-3:checked~.cards #work-3,
#item-4:checked~.cards #work-4 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#item-1:checked~.cards #work-1,
#item-2:checked~.cards #work-2,
#item-3:checked~.cards #work-3,
#item-4:checked~.cards #work-4 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

/* overlay text for img description */
.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0cbababb;
  overflow: hidden;
  width: 100%;
  height: 0px;
  transition: 0.5s ease;
  z-index: 1;
  opacity: 0.6;
}

.card:hover .overlay-text {
  height: 15%;
}

.span-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.span-subtext {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* The Modal for cards  */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 0px;
  margin-left: 0%;
  top: -155px;
  width: 210%;
  height: 900px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.568);
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-height: 100%;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 30px;
  color: rgb(0, 0, 0);
  font-size: 40px;
  transition: 0.3s;
  z-index: 1;
  opacity: 1;
}

.close:hover,
.close:focus {
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

/* modal image */
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* Timeline section */
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
  transform: scale(0.9);
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: -20px;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container-timeline {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container-timeline::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid rgb(5, 155, 155);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
}

/* BOXES hover */
.container-timeline:hover>.content,
.left {
  opacity: 1;
}
.container-timeline:hover .left {
  opacity: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/*  CONTENT BOXES */
.content {
  padding: 10px 10px;
  background-color: #0cbababb;
  position: relative;
  border-radius: 5px;
  width: 100%;
  height: 25vh;
  overflow: hidden;
  opacity: 0.1;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

/* Media queries */
@media screen and (max-width: 600px) {

  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container-timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container-timeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

.timeline-text {
  font-size: 20px;
  color: white;
}

h2 {
  font-size: 30px;
}

.contact-block {
  width: 100%;
  height: 10px;
  margin-top: -80px;
  padding-bottom: 0px;
}

.contact-block a {
  color: white;
  text-decoration: none;
  margin-top: 120px;
  margin-left: 30%;
  cursor: pointer;
  font-size: 26px;
  width: 100%;
}

/* Media queries */
/* phones portrait */
@media only screen and (min-width: 280px) and (max-width: 425px) and (orientation: portrait) {

  body,
  html {
    width: 100%;
  }

  /* first page */
  h1 {
    width: 100%;
    font-size: 40px;
  }

  .loading:after {
    display: block;
    margin: 0 auto;
    margin-top: 50%;
  }

  .blinking-cursor {
    font-size: 40px;
  }

  /* second page */
  .about-me-text-one {
    font-size: 40px;
    width: 95%;
    margin-left: 0px;
  }

  .about-me-text-two {
    font-size: 18px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
  }
.Projects-text{
  margin-top: 200px;
}
  .glitch {
    background-image: url(/assets/img/prof\ chair.png);
    background-position: right;
    display: none;
  }

  .profile-image {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
    content: url(/assets/img/[removal.ai]_tmp-61d354a4b6e2c.png);
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    border: 1px solid white;
  }

  /* third page */
  .cards {
    width: 75%;
  }

  /* last page */
  .timeline {
    margin-top: 50px;
    overflow: hidden;
    transform: scale(0.8);
  }

  .timeline-text {
    font-size: 14px;
    line-height: 14px;
  }

  /* social links */
  .one .social-menu ul {
    display: none;
  }

  .four .social-menu ul {
    display: none;
  }

  .two .social-menu ul {
    display: block;
    margin: 0 auto;
    margin-top: 150px;
  }

  .three #social-two {
    left: 50%;
    top: 20%;
    transform: scale(0.5);
  }

  .cards {
    margin-top: 50px;
  }

  .card {
    height: 300px;
  }

  #img-1 {
    width: 80%;
    height: 500px;
    margin-top: 205px;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
  }

  .close {
    margin-top: 150px;
    right: 80px;
    color: white;
  }

  .modal {
    margin-left: 0px;
    width: 100%;
    height: 900px;
    background: rgba(0, 0, 0, 0.9);
  }
}

/* iPad PORTRAIT style here */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

  body,
  html {
    width: 100%;
  }

  /* first page */
  h1 {
    width: 100%;
    font-size: 60px;
  }

  .loading:after {
    display: block;
    margin: 0 auto;
    margin-top: 50%;
  }

  .blinking-cursor {
    font-size: 60px;
  }

  /* second page */
  .about-me-text-one {
    font-size: 60px;
  }

  .about-me-text-two {
    font-size: 26px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }

  #social-two {
    transform: scale(0.7);
    left: 70%;
    top: 20%;
  }

  .glitch {
    background-image: url(/assets/img/prof\ chair.png);
    background-position: right;
    display: none;
  }

  .profile-image {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    content: url(/assets/img/[removal.ai]_tmp-61d354a4b6e2c.png);
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    border: 1px solid white;
  }

  /* third page */
  .cards {
    margin-top: 20px;
    width: 75%;
  }

  /* last page */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    transform: scale(0.9);
  }

  .timeline-text {
    font-size: 16px;
    line-height: 15px;
  }

  .four .social-menu {
    visibility: hidden;
  }

  #img-1 {
    width: 100%;
    height: 500px;
    margin-top: 205px;
    margin-left: 0%;
    align-items: center;
    justify-content: center;
  }

  .close {
    margin-top: 150px;
    right: 80px;
    color: white;
  }

  .modal {
    margin-left: 0px;
    width: 100%;
    height: 900px;
    background-color: #000000cc;
  }
}

/* Laptops, Desktops */
@media (min-width: 1024px) and (max-width: 1280px) {

  body,
  html {
    width: 100%;
  }

  /* first page */
  /* name and last name heading */
  h1 {
    color: #000000;
    white-space: nowrap;
    opacity: 0.9;
    background-color: #0cbaba8f;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 5vw;
    display: block;
    margin: 0 auto;
    line-height: 1.071;
    width: 40%;
    margin-top: -220px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .loading:after {
    display: block;
    margin: 0 auto;
    margin-top: 50%;
  }

  .blinking-cursor {
    font-size: 60px;
  }

  /* second page */
  .about-me-text-one {
    font-size: 60px;
  }

  .about-me-text-two {
    font-size: 26px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }

  #social-two {
    transform: scale(0.7);
    left: 70%;
    top: 20%;
  }

  .glitch {
    background-image: url(/assets/img/prof\ chair.png);
    background-position: right;
    display: none;
  }

  .profile-image {
    width: 400px;
    height: 400px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    content: url(/assets/img/[removal.ai]_tmp-61d354a4b6e2c.png);
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    border: 1px solid white;
  }

  /* third page */
  .cards {
    margin-top: 20px;
    width: 100%;
  }

  .card {
    overflow: hidden;
    width: 80%;
    -webkit-box-reflect: below 1px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.021));
  }

  /* last page */

  .timeline-text {
    font-size: 16px;
    line-height: 15px;
  }

  .four .social-menu {
    visibility: hidden;
  }

  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    transform: scale(0.9);
  }

  #img-1 {
    width: 98%;
    height: 500px;
    margin-top: 205px;
    margin-left: 1%;
    align-items: center;
    justify-content: center;
  }

  .images {
    width: 100%;
    height: 500px;
  }

  .modal {
    margin-left: 0px;
    width: 130%;
    height: 900px;
    background: rgba(0, 0, 0, 0.9);
    border: none;
  }

  .close {
    color: white;
    margin-right: 0px;
    margin-top: 140px !important;
  }
}

/* Large desktop 1281px and 1440px */
@media (min-width: 1281px) and (max-width: 1500px) {

  body,
  html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
  }

  * {
    box-sizing: border-box;
    font-family: Poppins, Montserrat, sans-serif;
    padding: 0;
    margin: 0;
  }

  .four .social-menu {
    visibility: hidden;
  }

  .about-me-text-two {
    width: 80%;
  }

  /* last page */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    transform: scale(0.9);
  }

  .timeline-text {
    font-size: 16px;
    line-height: 15px;
  }

  /* third page */
  .cards {
    width: 125%;
  }

  .work-icons {
    width: 400px;
  }

  .profile-image {
    height: 7000px;
  }

  .about-me-text-one {
    margin-top: 90px;
  }
}

/* 4k screens */
@media (min-width: 2560px) {
  .blinking-cursor {
    font-size: 120px;
  }

  .about-me-text-one {
    padding-bottom: 300px;
  }

  #social-two {
    transform: scale(1);
  }

  .cards {
    width: 170%;
  }

  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 190px;
    transform: scale(0.9);
  }
}

/*Surafce duo portrait*/
@media screen and (min-width: 426px) and (max-width: 600px) and (orientation: portrait) {

  /* first page */
  h1 {
    width: 100%;
    font-size: 40px;
  }

  .loading:after {
    display: block;
    margin: 0 auto;
    margin-top: 50%;
  }

  .blinking-cursor {
    font-size: 40px;
  }

  /* second page */
  .about-me-text-one {
    font-size: 40px;
  }

  .about-me-text-two {
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }

  #social-two {
    transform: scale(0.5);
    left: 70%;
    top: 20%;
  }

  .glitch {
    background-image: url(/assets/img/prof\ chair.png);
    background-position: right;
    display: none;
  }

  .profile-image {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
    content: url(/assets/img/[removal.ai]_tmp-61d354a4b6e2c.png);
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    border: 1px solid white;
  }

  /* third page */
  .cards {
    width: 75%;
  }

  /* last page */
  .timeline {
    margin-top: 70px;
  }

  .timeline-text {
    font-size: 16px;
    line-height: 15px;
  }

  .four .social-menu {
    visibility: hidden;
  }

  .cards {
    margin-top: 50px;
  }

  .card {
    height: 300px;
  }

  #img-1 {
    width: 60%;
    height: 500px;
    margin-top: 205px;
    margin-left: 20%;
    align-items: center;
    justify-content: center;
  }

  .close {
    margin-top: 150px;
    right: 80px;
  }

  .modal {
    margin-left: 80px;
    width: 540px;
    height: 800px;
    background: rgba(255, 255, 255, 0.9);
  }
}

/* desktop min width */
@media only screen and (min-width: 600px) and (max-width: 767px) {

  body,
  html {
    width: 100%;
  }

  /* first page */
  h1 {
    width: 100%;
    font-size: 60px;
  }

  .loading:after {
    display: block;
    margin: 0 auto;
    margin-top: 50%;
  }

  .blinking-cursor {
    font-size: 60px;
  }

  /* second page */
  .about-me-text-one {
    font-size: 60px;
  }

  .about-me-text-two {
    font-size: 26px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }

  #social-two {
    transform: scale(0.7);
    left: 70%;
    top: 20%;
  }

  .glitch {
    background-image: url(/assets/img/prof\ chair.png);
    background-position: right;
    display: none;
  }

  .profile-image {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    content: url(/assets/img/[removal.ai]_tmp-61d354a4b6e2c.png);
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    border: 1px solid white;
  }

  /* third page */
  .cards {
    margin-top: 20px;
    width: 75%;
  }

  /* last page */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    transform: scale(0.9);
  }

  .timeline-text {
    font-size: 16px;
    line-height: 15px;
  }

  .four .social-menu {
    visibility: hidden;
  }

  #img-1 {
    width: 100%;
    height: 500px;
    margin-top: 205px;
    margin-left: 0%;
    align-items: center;
    justify-content: center;
  }

  .close {
    margin-top: 150px;
    right: 80px;
  }

  .modal {
    margin-left: 0px;
    width: 100%;
    height: 900px;
    background: rgba(255, 255, 255, 0.9);
  }
}

@media only screen and (min-width: 882px) and (max-width: 1023px) {

  body,
  html {
    width: 100%;
  }

  /* first page */
  h1 {
    width: 100%;
    font-size: 60px;
  }

  .loading:after {
    display: block;
    margin: 0 auto;
    margin-top: 50%;
  }

  .blinking-cursor {
    font-size: 60px;
  }

  /* second page */
  .about-me-text-one {
    font-size: 60px;
  }

  .about-me-text-two {
    font-size: 26px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }

  #social-two {
    transform: scale(0.7);
    left: 70%;
    top: 20%;
  }

  .glitch {
    background-image: url(/assets/img/prof\ chair.png);
    background-position: right;
    display: none;
  }

  .profile-image {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    content: url(/assets/img/[removal.ai]_tmp-61d354a4b6e2c.png);
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    border: 1px solid white;
  }

  /* third page */
  .cards {
    margin-top: 20px;
    width: 75%;
  }

  /* last page */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    transform: scale(0.9);
  }

  .timeline-text {
    font-size: 16px;
    line-height: 15px;
  }

  .four .social-menu {
    visibility: hidden;
  }

  #img-1 {
    width: 100%;
    height: 500px;
    margin-top: 205px;
    margin-left: 0%;
    align-items: center;
    justify-content: center;
  }

  .close {
    margin-top: 150px;
    right: 80px;
  }

  .modal {
    margin-left: 0px;
    width: 100%;
    height: 900px;
    background: rgba(255, 255, 255, 0.9);
  }
}

/* PHONES landscape  */
/* tablet landscape */
@media only screen and (min-device-height: 320px) and (max-device-width: 881px) and (orientation: landscape) {
  body {
    width: 100%;
    height: auto;
  }

  html {
    width: 100%;
    height: auto;
  }

  .glitch {
    display: none;
  }

  .profile-image {
    display: none;
  }

  .name-intro {
    background-color: #1725df;
    margin-top: 100px;
  }

  .about-me-text-one {
    margin-top: 180px;
  }

  .about-me-text-two {
    font-size: 0.3em;

  }
  .Projects-text{display: none;
  }

  .blinking-cursor {
    font-size: 50px;
  }

  .page {
    height: 130vh;
  }

  #social-two {
    transform: scale(0.5);
    left: 50%;
    top: 35%;
  }

  /* third page */
  .cards {
    width: 75%;
  }

  /* last page */
  .timeline {
    margin-top: 120px;
    transform: scale(0.6);
  }

  .timeline-text {
    font-size: 12px;
    line-height: 12px;
  }

  .four .social-menu {
    visibility: hidden;
  }

  .cards {
    margin-top: 200px;
  }

  .card {
    height: 200px;
  }

  .content {
    height: 100px;
  }

  .modal-content {
    width: 50%;
    height: 35%;
    margin-top: 290px;
  }

  .modal {
    width: 100%;
    height: 900px;
    background-color: transparent;
  }

  .close {
    top: 300px;
    right: 200px;
    color: #000000;
    z-index: 1;
  }

  .card:hover .overlay-text {
    height: 25%;
  }

  .span-text {
    font-size: 20px;
  }

  .span-subtext {
    font-size: 16px;
  }
}